<br>



<section class="container" >
    <h6 style="font-size: 30px;">Login</h6>
    <form action="" class="form-control h-100 pb-3 bg-primary ">
        <label for="textCorreo" class="text-white">Correo:</label>
        <div class="form-row ">
            <div class="col input-group mb-2">
                <label for="textCorreo" class="mt-1 fas fa-envelope input-group-text"></label>
                <input type="text" id="textCorreo" [(ngModel)]="unUsuario.correo" [ngModelOptions]="{standalone: true}" class="form-control form-text"  placeholder="Ingrese su correo">
            </div>
        </div>


        
        
        <label for="textContraseña" class="text-white">Contraseña:</label>
        <div class="form-row ">
            <div class="col input-group mb-2">
                <label for="textContraseña" class="mt-1 fas fa-key input-group-text"></label>
                <input type="password" id="textContraseña" [(ngModel)]="unUsuario.contrasenia"  [ngModelOptions]="{standalone: true}" class="form-control form-text"  placeholder="Ingrese su correo">
            </div>
        </div>
        
        <br>
        <button class="btn btn-success btn-block" (click)="Login()" >Ingresar</button>
        <button class="btn btn-warning btn-block" (click)="InicioRapidoAdmin()" >Inicio Rapido Admin</button>
        <button class="btn btn-warning btn-block" (click)="InicioRapidoEmpleado1()" >Inicio Rapido Empleado 1</button>
        <button class="btn btn-warning btn-block" (click)="InicioRapidoEmpleado2()" >Inicio Rapido Empleado 2</button>
    </form>

    <br>
    
</section>


